<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>俊民De成长之路 | 关于我</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,生活,程序猿,springboot,java,后端,关于我">
    <meta name="description" content="爱编程、喜欢旅行、摄影、爱生活。">


    <link rel="icon" type="image/x-icon" href="https://qiniu.iifxs.xyz/blog/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/aboutmetimeline.css">
    <link href="https://lib.baomitu.com/lightgallery/1.6.12/css/lightgallery.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/aboutme.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>

</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-12">
                    <div id="wordsView">
                        <div class="title">
                            <div class="title-words">
                                <h1 class="title-words-h1">关于</h1>
                            </div>

                            <div class="title-img">
                                <p>
                                    <img src="https://qiniu.iifxs.xyz/blog/static/img/loading.gif" data-src="https://jamen-blog.oss-cn-shenzhen.aliyuncs.com/static/jamen/DSC_0026.jpg" class="enlargePicture am-img-thumbnail am-radius">
                                </p>
                            </div>
                        </div>
                        <div class="jamen-my-words"  data-am-scrollspy="{animation: 'scale-down'}">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="jamen-info">
                                <p class="jamen-info-words">
                                    张俊民，目前就读于广东工业大学华立学院，别人眼中渣渣学校的渣渣程序猿，所属计算机科学与专业，一直想做一回软件开发者，曾经，在初中毕业暑假自己学习网上的敲易语言到后来上了大学。喜欢Java后端开发，
                                    希望将来能从事后端开发，也将一直为此不断努力着。<br>
                                    <br>
                                    
                                </p>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p><br><hr>
                        </div>
                        <div class="jamen-hobby">
                            <blockquote style="padding: 10px 18px">
                                兴趣爱好
                                <ul>
                                    <li>擅长编程：Java开发，Web后端技术，一直在努力学习！</li>
                                    <li>喜欢旅游：喜欢感受不一样的环境</li>
                                    <li>喜欢电影：喜欢好莱坞电影、漫威电影</li>
                                </ul>
                            </blockquote>
                        </div>
                        <div class="jamen-title-QRCode" style="margin-top: 20px">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="jamen-title-QRCode-word">
                                <strong>欢迎关注我的微信公众号：白问黑科技</strong><br>
                                <img class="enlargePicture" src="https://qiniu.iifxs.xyz/blog/static/img/loading.gif" data-src="https://qiniu.iifxs.xyz/blog/static/img/1546233109.png"><br>
                                <span>扫一扫了解更多<br></span>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right"></i></p>
                        </div>
                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                        
                        <div class="jamen-life">
                            <div style="text-align: right;margin: 30px auto">
                                <i class="am-icon-arrows am-icon-spin"></i>
                                <i class="am-icon-arrows am-icon-spin" style="margin-left: 60px"></i><br>
                            </div>
                            <div class="jamen-life-title">
                                <span>心情</span>
                            </div>
                            <div class="jamen-you">
                                <!--<img src="https://qiniu.iifxs.xyz/blog/static/img/loading.gif" data-src="https://qiniu.iifxs.xyz/blog/static/img/favicon.png" class="enlargePicture am-img-thumbnail">-->
                            </div>
                            <p></p>
                            <div class="content">
                                <article>
                                    <!--年份使用淡出动画，内容使用左侧滑入效果-->
                                    <h3  data-am-scrollspy="{animation: 'scale-up'}">2019</h3>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2019-03">
                                            <span>2019/07/08</span>
                                        </time>
                                        <aside>
                                            <p class="things">深圳没有属于渣渣本科学校的学生实习的公司了吗</p>
                                            <p class="brief"><span class="text-red">
                                                最近一直在忙于期末考试，之后找实习，虽然面试的公司不多，但是收获还是不小，虽然也有过失败，但也有收获不错的offer。可惜是广州的，也许在我长大的深圳真的没有我的容身之地。。。
                                            </span></p>
                                        </aside>
                                    </section>
                                    <h3  data-am-scrollspy="{animation: 'scale-up'}">2018</h3>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-red"></span>
                                        <time datetime="2018-12">
                                            <span>2018/12/16</span>
                                        </time>
                                        <aside>
                                            <p class="things">8102也快要结束了，这个荒废的博客项目也搞起来吧</p>
                                            <p class="brief"><span class="text-blue">
                                               单机跑了这么长时间，终于是搬到线上来了。从项目开发调试到线上服务器环境搭建， 域名注册、备案，nginx、ssl证书和其间出现的各种bug，让觉得人头皮发麻。如今终于是上线了，很开心。
                                            </span></p>
                                        </aside>
                                    </section>


                                </article>

                            </div>
                        </div>

                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                        
                        <div class="jamen-opinion">
                            <div class="jamen-opinion-title">
                                <h1 style="font-size: 30px;font-weight: 400">意见反馈</h1>
                            </div>
                        </div>

                    </div>
                    <div class="comment">
                        <div class="comment-top">
                            <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                            </div>
                            <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                <div class="goToLogin">
                                    &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                </div>
                            </div>
                            <div class="commentBtn">
                                <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                            </div>
                        </div>
                        <!--页面留言-->
                        <div class="comment-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>

    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<!--放大图片插件-->
<script src="js/lightgallery/lightgallery.js"></script>
<script src="js/lightgallery/picturefill.min.js"></script>
<script src="js/lightgallery/lg-pager.js"></script>
<script src="js/lightgallery/lg-autoplay.js"></script>
<script src="js/lightgallery/lg-fullscreen.js"></script>
<script src="js/lightgallery/lg-zoom.js"></script>
<script>
    lightGallery(document.getElementById('wordsView'));
</script>
</body>
</html>